<h3> View Bus Details</h3>
<div>
    <div>
        <label> <b> Starting Point: </b></label> {{busDetails.startingPoint}}
    </div>
    <div>
        <label> <b> Driver Name: </b></label> {{busDetails.driverName}}
    </div>
    <div>
        <label> <b> Ending Point: </b></label> {{busDetails.endingPoint}}
    </div>
    <div>
        <label> <b> Driver Number: </b></label> {{busDetails.driverNumber}}
    </div>
    <div>
        <label> <b>  Bus Id: </b></label> {{busDetails. busId}}
    </div>
    <div>
        <label> <b> Bus Number: </b></label> {{busDetails.busNumber}}
    </div>
    <div>
        <label> <b> Bus Type: </b></label> {{busDetails.busType}}
    </div>
</div>